{% load staticfiles %}
<footer>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget">
                <h5 class="widgetheading">Our Contact</h5>
                <address>
                <strong>Target company Inc</strong><br>
                JC Main Road, Near Silnile tower<br>
                 Pin-21542 NewYork US.</address>
                <p>
                    <i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
                    <i class="icon-envelope-alt"></i> email@domainname.com
                </p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget">
                <h5 class="widgetheading">Quick Links</h5>
                <ul class="link-list">
                    <li><a href="#">Latest Events</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget">
                <h5 class="widgetheading">Latest posts</h5>
                <ul class="link-list">
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                    <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget">
                <h5 class="widgetheading">Recent News</h5>
                <ul class="link-list">
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                    <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="copyright">
                    <p>
                        <span>&copy; FiberTec 2018 - {% now "Y" %} All right reserved.</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="social-network">
                    <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>