{% load staticfiles %}
{% load tags %}
<header>
    <!--{{ request.resolver_match }}-->
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{{ site_header.logo|default_img }}" width="150px" alt="{{ site_header.alt }}"/></a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="{{ active.0 }}"><a href="{% url 'index' %}"><i class="fa fa-home fa-lg"></i></a></li>
                    {% if site_header.about %}
                    {% if site_header.about_active %}
                    <li class="{{ active.1 }}"><a href="{% url 'about' %}">{{ site_header.about }}</a></li>
                    {% endif %}
                    {% else %}
                    <li class="{{ active.1 }}"><a href="{% url 'about' %}">about us</a></li>
                    {% endif %}

                    {% if site_header.services %}
                    {% if site_header.services_active %}
                    <li class="{{ active.2 }}"><a href="{% url 'services' %}">{{ site_header.services }}</a></li>
                    {% endif %}
                    {% else %}
                    <li class="{{ active.2 }}"><a href="{% url 'services' %}">services</a></li>
                    {% endif %}

                    {% if site_header.portfolio %}
                    {% if site_header.portfolio_active %}
                    <li class="{{ active.3 }}"><a href="{% url 'portfolio' %}">{{ site_header.portfolio }}</a></li>
                    {% endif %}
                    {% else %}
                    <li class="{{ active.3 }}"><a href="{% url 'portfolio' %}">portfolio</a></li>
                    {% endif %}

                    {% if site_header.contact %}
                    {% if site_header.contact_active %}
                    <li class="{{ active.4 }}"><a href="{% url 'contact' %}">{{ site_header.contact }}</a></li>
                    {% endif %}
                    {% else %}
                    <li class="{{ active.4 }}"><a href="{% url 'contact' %}">contact</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>