.brd {
    color: #6E6E6E;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.brd:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    color: #438EB9;
}
.brd-icon {
    border: 1px solid #6E6E6E;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 18px;

}