{% extends 'siteapp/s_base.html' %}
{% load staticfiles %}
{% load tags %}

{% block content %}
	<section id="featured">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
			<ul class="slides">
				{% if slider %}
				{% for slide in slider %}
				<li>
					<img src="{{ slide.img|default_slider }}" alt="{{ slide.alt }}">
					<div class="flex-caption">
						<h3>{{ slide.title }}</h3>
						<p>{{ slide.text }}</p>
					</div>
				</li>
				{% endfor %}
				{% else %}
				<li>
					<img src="{% static '/img/slides/1.jpg' %}" alt=""/>
					<div class="flex-caption">
						<h3>Awesome Design</h3>
						<p>Doloribus omnis minus temporibus perferendis ipsa architecto non, magni quam</p>
					</div>
				</li>
				<li>
					<img src="{% static '/img/slides/2.jpg' %}" alt=""/>
					<div class="flex-caption">
						<h3>Fully Responsive</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elitincidunt eius magni provident.</p>
					</div>
				</li>
				<li>
					<img src="{% static '/img/slides/3.jpg' %}" alt=""/>
					<div class="flex-caption">
						<h3>Multi-purpose Theme</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec mer lacinia.</p>
					</div>
				</li>
				{% endif %}
			</ul>
        </div>
	<!-- end slider -->
 
	</section>
<div class="content_white">
	{% if caption_object.is_active %}
	<h2>{{ caption_object.title }}</h2>
	<p>{{ caption_object.text }}</p>
	{% endif %}
</div>
<div class="featured_content">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 feature_grid1"> <i class="fa fa-trophy fa-3x"></i>
        <h3>{{ content_object.title1 }}</h3>
        <p>{{ content_object.text1 }}</p>
<!--        <a href="#" class="feature_btn">More</a>-->
	  </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-picture-o fa-3x"></i>
        <h3>{{ content_object.title2 }}</h3>
        <p>{{ content_object.text2 }}</p>
<!--        <a href="#" class="feature_btn">More</a>-->
	  </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-flask fa-3x"></i>
        <h3>{{ content_object.title3 }}</h3>
        <p>{{ content_object.text3 }}</p>
<!--        <a href="#" class="feature_btn">More</a>-->
	  </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-user fa-3x"></i>
        <h3>{{ content_object.title4 }}</h3>
        <p>{{ content_object.text4 }}</p>
<!--        <a href="#" class="feature_btn">More</a>-->
	  </div>
    </div>
  </div>
</div>
 
	<section id="content">
	
	
	<div class="container">
		
	     <div class="row">
							<div class="col-md-8">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>{{ choose_object.title }}</span></h3>
								</div>
								<p>{{ choose_object.text }}</p>
							</div>
							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>Our Solution</span></h3>
								</div>		
								<!-- Accordion starts -->
								<div class="panel-group" id="accordion-alt3">
								 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
								  <div class="panel">	
									<!-- Panel heading -->
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 1
										  </a>
										</h4>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 2
										  </a>
										</h4>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 3
										  </a>
										</h4>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 4
										  </a>
										</h4>
									 </div>
									 <div id="collapseFour-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								</div>
								<!-- Accordion ends -->
								
							</div>
							
					
							
						</div>
	
	
	</div>
	
	</section>
	<!--<div class="testimonial-area">-->
    <!--<div class="testimonial-solid">-->
        <!--<div class="container"> -->
            <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
                <!--<ol class="carousel-indicators">-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="">-->
                        <!--<a href="#"></a>-->
                    <!--</li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="1" class="">-->
                        <!--<a href="#"></a>-->
                    <!--</li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="2" class="active">-->
                        <!--<a href="#"></a>-->
                    <!--</li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="3" class="">-->
                        <!--<a href="#"></a>-->
                    <!--</li>-->
                <!--</ol>-->
                <!--<div class="carousel-inner">-->
                    <!--<div class="item">-->
                        <!--<p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>-->
                        <!--<p>-->
                            <!--<b>- Mark John -</b>-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>-->
                        <!--<p>-->
                            <!--<b>- Jaison Warner -</b>-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="item active">-->
                        <!--<p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>-->
                        <!--<p>-->
                            <!--<b>- Tony Antonio -</b>-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>-->
                        <!--<p>-->
                            <!--<b>- Leena Doe -</b>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
{% endblock %}