<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {{ title }}
        {% endblock %}
    </title>
    <link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <!-- css -->
    {% block css %}
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <!--<link href="{% static '/css/jcarousel.css' %}" rel="stylesheet" />-->
    <link href="{% static '/css/flexslider.css' %}" rel="stylesheet"/>
    <!--<link href="{% static '/js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">-->
    <link href="{% static '/css/style.css' %}" rel="stylesheet"/>
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js' %}"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
    <!-- start header -->
    {% include 'siteapp/includes/inc_header.html' %}
    <!-- end header -->

    {% block content %}
    {% endblock %}

    <!-- start footer -->
    {% include 'siteapp/includes/inc_footer.html' %}
    <!-- end footer -->

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block js %}
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static '/js/jquery.fancybox-media.js' %}"></script>
<script src="{% static '/js/portfolio/jquery.quicksand.js' %}"></script>
<script src="{% static '/js/portfolio/setting.js' %}"></script>
<script src="{% static '/js/jquery.flexslider.js' %}"></script>
<script src="{% static '/js/animate.js' %}"></script>
<script src="{% static '/js/custom.js' %}"></script>
<!--<script src="{% static '/js/owl-carousel/owl.carousel.js' %}"></script>-->
{% endblock %}
</body>
</html>