{% extends 'adminapp/a_base.html' %}
{% load staticfiles %}
{% load tags %}

<title>
    {% block title %}
    {{ block.super }} - {{ title }}
    {% endblock %}
</title>

{% block content %}
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        {% include 'adminapp/includes/inc_user_menu.html' %}

    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        {% include 'adminapp/includes/inc_menu.html' %}

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="col-sm-12">

<!--                        <div class="tabbable tabs-left">-->
<!--                            <ul class="nav nav-tabs" id="myTab3">-->
<!--                                <li class="active">-->
<!--                                    <a data-toggle="tab" href="#slider" aria-expanded="true">-->
<!--                                        <i class="blue ace-icon fa fa-image bigger-110"></i>-->
<!--                                        Слайдер-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="">-->
<!--                                    <a data-toggle="tab" href="#caption" aria-expanded="false">-->
<!--                                        <i class="blue ace-icon fa fa-info bigger-110"></i>-->
<!--                                        Заголовок-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="">-->
<!--                                    <a data-toggle="tab" href="#container" aria-expanded="false">-->
<!--                                        <i class="blue ace-icon fa fa-bars bigger-110"></i>-->
<!--                                        Содержимое-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                            <div class="tab-content">-->
<!--                                &lt;!&ndash; SLIDER &ndash;&gt;-->
<!--                                <div id="slider" class="tab-pane active">-->
<!--                                    <div class="widget-body">-->
<!--                                        <div class="widget-main">-->
<!--                                            &lt;!&ndash; Добавить слайдер &ndash;&gt;-->
<!--                                            <div class="form-group">-->
<!--                                                <a href="{% url 'admin:slider_add' %}">-->
<!--                                                    <button class="btn btn-white btn-primary" title="Добавить слайдер">-->
<!--                                                        <i class="fa fa-plus"></i>-->
<!--                                                    </button>-->
<!--                                                </a>-->
<!--                                            </div>-->

<!--                                            {% if slider %}-->
<!--                                            {% for slider in slider_object %}-->
<!--                                            <div class="form-group">-->
<!--                                                {% if slider.pk %}-->
<!--                                                <div class="col-xs-12" style="{% if slider.is_active %} opacity:1 {% else %} opacity:0.5 {% endif %}">-->
<!--                                                    <a href="{% url 'admin:slider_update' slider.pk %}"-->
<!--                                                       title="Изменить">-->
<!--                                                        <img src="{{ slider.img|default_slider }}" width="500px"-->
<!--                                                             alt="{{ slider.alt }}">-->
<!--                                                    </a>-->
<!--                                                    <h2>{{ slider.title }}</h2>-->
<!--                                                    <h5>{{ slider.text }}</h5>-->
<!--                                                </div>-->
<!--                                                {% else %}-->
<!--                                                <div class="col-xs-12">-->
<!--                                                    <a href="#">-->
<!--                                                        <img src="{{ slider.img|default_slider }}" width="500px"-->
<!--                                                             alt="">-->
<!--                                                    </a>-->
<!--                                                </div>-->
<!--                                                {% endif %}-->
<!--                                            </div>-->
<!--                                            {% endfor %}-->
<!--                                            {% else %}-->
<!--                                            <div class="col-xs-12">-->
<!--                                                <a href="#">-->
<!--                                                    <img src="{{ slider_object.img|default_slider }}" width="500px"-->
<!--                                                         alt="">-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            {% endif %}-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; END SLIDER &ndash;&gt;-->

                                <!-- CAPTION -->
                                <div id="caption" class="tab-pane">
                                    <div class="form-group">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="col-xs-12">
                                                {{ form.title }}
                                                <p></p>
                                                {{ form.text }}
                                                <p></p>
                                                <div class="col-sx-1">
                                                    <label>
                                                        {{ form.is_active }}
                                                        <span class="lbl"></span>
                                                    </label>
                                                </div>
                                                <!-- кнопки -->
                                                <div class="clearfix">
                                                    <p>&nbsp;</p>
                                                    <button type="submit" class="width-10 btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-save"></i>
                                                        <span class="bigger-110">Сохранить</span>
                                                    </button>
<!--                                                    <a href="{% url 'admin:home' %}">-->
<!--                                                        <button class="width-10 btn btn-sm btn-default" type="button">-->
<!--                                                            <i class="ace-icon fa fa-undo"></i>-->
<!--                                                            <span class="bigger-110">Отменить</span>-->
<!--                                                        </button>-->
<!--                                                    </a>-->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- END CAPTION -->

<!--                                &lt;!&ndash; CONTAINER &ndash;&gt;-->
<!--                                <div id="container" class="tab-pane">-->
<!--                                </div>-->
<!--                                &lt;!&ndash; END CONTAINER &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

{% endblock %}