{% extends 'adminapp/a_base.html' %}
{% load staticfiles %}
{% load tags %}

<title>
    {% block title %}
    {{ block.super }} - {{ title }}
    {% endblock %}
</title>

{% block content %}
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        {% include 'adminapp/includes/inc_user_menu.html' %}

    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        {% include 'adminapp/includes/inc_menu.html' %}

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
<!--                    {{ request.resolver_match.app_names }}-->
                    <div class="col-sm-12">
                        <div class="col-md-12 col-md-3">
                            <div class="widget-box brd">
                                <i class="fa fa-trophy fa-5x brd-icon"></i>
                                <h2><strong>{{ content_object.title1 }}</strong></h2>
                                <p>{{ content_object.text1 }}</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-md-3">
                            <div class="widget-box brd">
                                <i class="fa fa-picture-o fa-5x brd-icon"></i>
                                <h2><strong>{{ content_object.title2 }}</strong></h2>
                                <p>{{ content_object.text2 }}</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-md-3">
                            <div class="widget-box brd">
                                <i class="fa fa-flask fa-5x brd-icon"></i>
                                <h2><strong>{{ content_object.title3 }}</strong></h2>
                                <p>{{ content_object.text3 }}</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-md-3">
                            <div class="widget-box brd">
                                <i class="fa fa-user fa-5x brd-icon"></i>
                                <h2><strong>{{ content_object.title4 }}</strong></h2>
                                <p>{{ content_object.text4 }}</p>
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <div class="col-sm-2">
                        <a href="{% url 'admin:content_update' %}">
                            <button class="btn btn-sm btn-primary" title="Изменить">
                                Изменить
                            </button>
                        </a>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

{% endblock %}