{% extends 'adminapp/a_base.html' %}
{% load staticfiles %}
{% load tags %}

<title>
    {% block title %}
    {{ block.super }} - {{ title }}
    {% endblock %}
</title>

{% block content %}
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        {% include 'adminapp/includes/inc_user_menu.html' %}

    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        {% include 'adminapp/includes/inc_menu.html' %}

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="col-sm-12">
                        <!-- CAPTION -->
                        <div id="caption" class="tab-pane">
                            <div class="form-group">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="widget-box">
                                            <div class="widget-header">
                                                <i class="fa fa-trophy fa-2x widget-title"></i>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <p></p>
                                                    {{ form.title1 }}
                                                    <p></p>
                                                    {{ form.text1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="widget-box">
                                            <div class="widget-header">
                                                <i class="fa fa-picture-o fa-2x widget-title"></i>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <p></p>
                                                    {{ form.title2 }}
                                                    <p></p>
                                                    {{ form.text2 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="widget-box">
                                            <div class="widget-header">
                                                <i class="fa fa-flask fa-2x widget-title"></i>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <p></p>
                                                    {{ form.title3 }}
                                                    <p></p>
                                                    {{ form.text3 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="widget-box">
                                            <div class="widget-header">
                                                <i class="fa fa-user fa-2x widget-title"></i>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <p></p>
                                                    {{ form.title4 }}
                                                    <p></p>
                                                    {{ form.text4 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="col-xs-12 clearfix" align="center">
                                        <p>&nbsp;</p>
                                        <button type="submit" class="width-10 btn btn-sm btn-primary">
                                            <i class="ace-icon fa fa-save"></i>
                                            <span class="bigger-110">Сохранить</span>
                                        </button>
                                        <a href="{% url 'admin:content' %}">
                                            <button class="width-10 btn btn-sm btn-default" type="button">
                                                <i class="ace-icon fa fa-undo"></i>
                                                <span class="bigger-110">Отменить</span>
                                            </button>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

{% endblock %}