{% extends 'adminapp/a_base.html' %}
{% load staticfiles %}
{% load tags %}

<title>
    {% block title %}
    {{ block.super }} - {{ title }}
    {% endblock %}
</title>

{% block content %}
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        {% include 'adminapp/includes/inc_user_menu.html' %}

    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        {% include 'adminapp/includes/inc_menu.html' %}

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.errors}}
                    <div class="row">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="col-sm-4">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">{{ form.logo.label }}</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                {{ form.logo }}
                                            </div>
                                            <div class="col-xs-12">
                                                {{ form.alt }}
                                            </div>
                                        </div>

                                        <div>&nbsp;</div>
                                        <div class="form-group">
                                            <div class="col-xs-12" align="center">
                                                <img src="{{ object.logo|default_img }}" width="150px" alt="">
                                            </div>
                                        </div>
                                        <div>&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <hr>
                    <div class="row">
                    <!-- о нас-->
                        <div class="col-sm-4">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">{{ form.about.label }}</h4>
                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                {{ form.about }}
                                            </div>
                                            <div class="col-xs-1">
                                                <label>
                                                {{ form.about_active }}
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- услуги -->
                        <div class="col-sm-4">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">{{ form.services.label }}</h4>
                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                {{ form.services }}
                                            </div>
                                            <div class="col-xs-1">
                                                <label>
                                                    {{ form.services_active }}
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- портфолио -->
                        <div class="col-sm-4">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">{{ form.portfolio.label }}</h4>
                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                {{ form.portfolio }}
                                            </div>
                                            <div class="col-xs-1">
                                                <label>
                                                    {{ form.portfolio_active }}
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- контакты -->
                        <div class="col-sm-4">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">{{ form.contact.label }}</h4>
                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                {{ form.contact }}
                                            </div>
                                            <div class="col-xs-1">
                                                <label>
                                                    {{ form.contact_active }}
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <!-- кнопки -->
                        <div class="clearfix" align="center">
                            <p>&nbsp;</p>
                            <button type="submit" class="width-10 btn btn-sm btn-primary">
                                <i class="ace-icon fa fa-save"></i>
                                <span class="bigger-110">Сохранить</span>
                            </button>
                            <a href="{% url 'admin:main' %}">
                                <button class="width-10 btn btn-sm btn-default" type="button">
                                    <i class="ace-icon fa fa-undo"></i>
                                    <span class="bigger-110">Отменить</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

{% endblock %}