{% extends 'adminapp/a_base.html' %}
{% load staticfiles %}
{% load tags %}

<title>
    {% block title %}
    {{ block.super }} - {{ title }}
    {% endblock %}
</title>

{% block content %}
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        {% include 'adminapp/includes/inc_user_menu.html' %}

    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        {% include 'adminapp/includes/inc_menu.html' %}

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="col-sm-12">
                        <!-- SLIDER -->
                        <div class="tab-pane active">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <!-- Добавить слайдер -->
                                    <div class="form-group">
                                        <a href="{% url 'admin:slider_add' %}">
                                            <button class="btn btn-white btn-primary" title="Добавить слайдер">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </a>
                                    </div>

                                    {% if slider_object %}
                                    {% for slider in slider_object %}
                                    <div class="form-group">
                                        {% if slider.pk %}
                                        <div class="col-xs-12"
                                             style="{% if slider.is_active %} opacity:1 {% else %} opacity:0.5 {% endif %}">
                                            <a href="{% url 'admin:slider_update' slider.pk %}"
                                               title="Изменить">
                                                <img src="{{ slider.img|default_slider }}" width="500px"
                                                     alt="{{ slider.alt }}">
                                            </a>
                                            <h2>{{ slider.title }}</h2>
                                            <h5>{{ slider.text }}</h5>
                                            <hr style="height:2px; background:#888;">
                                        </div>
                                        {% else %}
                                        <div class="col-xs-12">
                                            <a href="#">
                                                <img src="{{ slider.img|default_slider }}" width="500px"
                                                     alt="">
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="col-xs-12">
                                        <a href="#">
                                            <img src="{{ slider_object.img|default_slider }}" width="500px"
                                                 alt="">
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- END SLIDER -->
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

{% endblock %}