<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        Вход
        {% endblock %}
    </title>
    <link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}"/>
    <meta name="description" content="User login page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="{% static 'assets/css/fonts.googleapis.com.css' %}"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{% static 'assets/css/ace-part2.min.css' %}"/>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/ace-rtl.min.css' %}"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{% static 'assets/css/ace-ie.min.css' %}"/>
    <![endif]-->

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body class="login-layout light-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red">Авторизация</span>
                            <!--<span class="white" id="id-text2">Авторизация</span>-->
                        </h1>
                        <h4 class="blue" id="id-company-text">&copy; FiberTec</h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        Учетные данные
                                    </h4>

                                    <div class="space-6"></div>

                                    <form method="post">
                                        {% csrf_token %}
                                        {% if next %}
                                        <input type="hidden" name="next" value="{{ next }}">
                                        {% endif %}
                                        <fieldset>
                                            {{ form.non_field_errors }}
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            {{ form.username }}
                                                            <!--<input type="text" class="form-control"-->
                                                            <!--placeholder="Username"/>-->
															<i class="ace-icon fa fa-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
                                                            {{ form.password }}
                                                            <!--<input type="password" class="form-control"-->
                                                            <!--placeholder="Password"/>-->
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <!--<label class="inline">-->
                                                <!--<input type="checkbox" class="ace"/>-->
                                                <!--<span class="lbl"> Запомнить</span>-->
                                                <!--</label>-->

                                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary"
                                                        value="Войти">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">Войти</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>

                                </div><!-- /.widget-main -->

                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->

                    </div><!-- /.position-relative -->

                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<![endif]-->
<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

</body>
</html>
