{% extends 'adminapp/a_base.html' %}
{% load staticfiles %}

<title>
    {% block title %}
    {{ title }}
    {% endblock %}
</title>

{% block content %}
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        {% include 'adminapp/includes/inc_user_menu.html' %}

    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        {% include 'adminapp/includes/inc_menu.html' %}

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <h2 align="center"><b>Приветствую в системе управления контентом!</b></h2>
                        <br>
                        <p style="font-size: 14pt" align="justify">Данное приложение позволит быстро и легко наполнить
                            сайт необходимым содержимым. Система минималистична и проста в освоении. Все необходимое
                            находится в меню слева. Для перехода на сайт и смены пароля, используй меню в правом
                            верхнем углу.</p>
                        <hr>
                        <p style="font-size: 12pt">Приятной работы! <i class="fa fa-smile-o"></i></p>
<!--                        <i class="fa fa-trophy fa-3x" style="opacity: 0.7"></i>-->
                    </div>
                    <div class="col-xs-2"></div>
                    <!-- PAGE CONTENT ENDS -->
                    <!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

{% endblock %}