{% extends 'adminapp/a_base.html' %}
{% load staticfiles %}
{% load tags %}

<title>
    {% block title %}
    {{ block.super }} - {{ title }}
    {% endblock %}
</title>

{% block content %}
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        {% include 'adminapp/includes/inc_user_menu.html' %}

    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        {% include 'adminapp/includes/inc_menu.html' %}

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="col-sm-4">
<!-- SLIDER -->
                            <div id="slider" class="tab-pane active">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                {{ form.img }}
                                            </div>
                                            <div class="col-xs-12">
                                                {{ form.alt }}
                                            </div>
                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <img src="{{ object.img|default_slider }}" width="500px" alt="">
                                            </div>
                                        </div>
                                        <div>&nbsp;</div>
                                        <div class="form-group">
                                            <div class="col-sx-12">
                                                {{ form.title }}
                                            </div>
                                            <p></p>
                                            <div class="col-sx-12">
                                                {{ form.text }}
                                            </div>
                                        </div>
                                        <div class="col-sx-1">
                                            <label>
                                                {{ form.is_active }}
                                                <span class="lbl" title="Включить/Отключить слайдер"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!-- END SLIDER -->
                            <!-- кнопки -->
                            <div class="clearfix" align="center">
                                <p>&nbsp;</p>
                                <button type="submit" class="width-10 btn btn-sm btn-primary">
                                    <i class="ace-icon fa fa-save"></i>
                                    <span class="bigger-110">Сохранить</span>
                                </button>
                                <a href="{% url 'admin:home' %}">
                                    <button class="width-10 btn btn-sm btn-default" type="button">
                                        <i class="ace-icon fa fa-undo"></i>
                                        <span class="bigger-110">Отменить</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                </form>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

{% endblock %}