{% load staticfiles %}
<!--{{ request.resolver_match }}-->
<ul class="nav nav-list">
    <li class="{{ active.0 }}">
        <a href="{% url 'admin:header' %}">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Шапка </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="{{ active_ul }}">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-file-o"></i>
            <span class="menu-text"> Главная </span>
        <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu">
            <li class="{% if request.resolver_match.url_name == 'home' %} {{ active.1 }} {% endif %}">
                <a href="{% url 'admin:home' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Слайдер
                </a>
                <b class="arrow"></b>
            </li>
            <li class="{% if request.resolver_match.url_name == 'caption' %} {{ active.1 }} {% endif %}">
                {% if caption_object %}
                    {% if caption_object.pk %}
                    <a href="{% url 'admin:caption' caption_object.pk %}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Заголовок
                    </a>
                    {% else %}
                    <a href="{% url 'admin:caption' 0 %}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Заголовок
                    </a>
                    {% endif %}
                {% else %}
                <a href="{% url 'admin:caption' 0 %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Заголовок
                </a>
                {% endif %}
                <b class="arrow"></b>
            </li>
            <li class="{% if request.resolver_match.url_name == 'content' or request.resolver_match.url_name == 'content_update' %} {{ active.1 }} {% endif %}">
                <a href="{% url 'admin:content' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Содержимое
                </a>
                <b class="arrow"></b>
            </li>
            <li class="{% if request.resolver_match.url_name == 'choose'%} {{ active.1 }} {% endif %}">
                <a href="{% url 'admin:choose' %}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Содержимое-2
                </a>
                <b class="arrow"></b>
            </li>
            <li class="#">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Решения
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text"> О нас </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="#">
            <i class="menu-icon fa fa-cogs"></i>
            <span class="menu-text"> Услуги </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="#">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text"> Порфолио </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="#">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Контакты </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="#">
            <i class="menu-icon fa fa-copyright"></i>
            <span class="menu-text"> Подвал </span>
        </a>
        <b class="arrow"></b>
    </li>
</ul><!-- /.nav-list -->