<div class="navbar-header pull-left">
    <a href="{% url 'admin:main' %}" class="navbar-brand">
        <small>
            <i class="fa fa-leaf"></i>
            Админка
        </small>
    </a>
</div>

<div class="navbar-buttons navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">
        <li class="light-blue dropdown-modal">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <span class="user-info">
									<small>Привет,</small>
									{{ user }}
								</span>
                <i class="ace-icon fa fa-caret-down"></i>
            </a>

            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    <a href="{% url 'index' %}" target="_blank">
                        <i class="ace-icon fa fa-external-link"></i>
                        Сайт
                    </a>
                </li>

                <li>
                    <a href="{% url 'admin:changepass' user.pk %}">
                        <i class="ace-icon fa fa-key"></i>
                        Сменить пароль
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="{% url 'admin:logout' %}">
                        <i class="ace-icon fa fa-power-off"></i>
                        Выйти
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>